<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Me and a buddy found that the Blue Letter Bible app didn't allow you to search by Strongs Concordance numbers.</p>
    <p>Thus this web app was conceived.</p>
    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p> -->
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>